
.btn-rounded-white {
    border-radius: 50px; /* sets the border radius to make the button rounded */
    background-color: #ffffff; /* sets the background color to white */
    color: #2A1B3C; /* sets the text color to black */
}

.sidebar {
    background: linear-gradient(#2a1b3c, #44318D); !important; /* sets the background color of the navbar to #2A1B3C */
}

.nav-link{
    margin-top: 1rem;
}

.nav-link:hover{
    background-color: #2a1b3c;
}
