body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#2a1b3c, #44318D);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
 
.btn-rounded-white {
    border-radius: 50px; /* sets the border radius to make the button rounded */
    background-color: #ffffff; /* sets the background color to white */
    color: #2A1B3C; /* sets the text color to black */
}
 
.hero {
    background: linear-gradient(#2a1b3c, #44318D);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 
}
 
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.tab-content{
    border-radius: 50px;
}
 
 .tab-content,
 .tab-pane {
    color: black;
}
  
#flightsButton {
    margin-top: 10px;
}
  
.navbar {
    background-color: #2A1B3C !important; /* sets the background color of the navbar to #2A1B3C */
}
